workflow.json
{
  "name": "forstauftrag",
  "nodes": [
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "html",
        "destinationKey": "files",
        "options": {
          "encoding": "utf8",
          "fileName": "index.html",
          "mimeType": "text/html; charset=utf-8",
          "useRawData": true
        }
      },
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        240,
        576
      ],
      "id": "78fd8177-815d-4637-ba6f-4a2fc9f4f5e6",
      "name": "Move Binary Data (HTML file)"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Verkehrsrechtliche Anordnung/Einsatz an Straße",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Absperrung",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "keine"
                  },
                  {
                    "option": "ja - Vollsperrung mit Schilder und Absperrband"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Posten - wie viele Helfer? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "0 - keine notwendig"
                  },
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "mehr als 5 "
                  }
                ]
              }
            },
            {
              "fieldLabel": "Persönliche Schutzausrüstung geprüft/getragen? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Bemerkungen zu Schutzausrüstung: ",
              "fieldType": "textarea",
              "placeholder": "Besonderheiten bei Schutzausrüstung, falls vorhanden. "
            },
            {
              "fieldLabel": "Zufahrt für Maschinen möglich? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Maschintyp",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Harvester"
                  },
                  {
                    "option": "Forwarder"
                  },
                  {
                    "option": "(Seil-)Schlepper/Traktor"
                  },
                  {
                    "option": "Lkw"
                  },
                  {
                    "option": "Bagger"
                  },
                  {
                    "option": "sonstige Maschinen"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Maschinenbediener: ",
              "placeholder": "Fahrer 1, Fahrer 2, Fahrer3, .... "
            },
            {
              "fieldLabel": "Besondere Gefährdungen:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "=Witterung/Nässe"
                  },
                  {
                    "option": "Boden nicht tragfähig"
                  },
                  {
                    "option": "Absturzgefahr "
                  },
                  {
                    "option": "Von Personen frequentiert/Spaziergänger"
                  },
                  {
                    "option": "Schlechte Sicht "
                  },
                  {
                    "option": "Böschungslage"
                  },
                  {
                    "option": "Verkehrswege"
                  },
                  {
                    "option": "Störender Bewuchs"
                  },
                  {
                    "option": "Wind"
                  },
                  {
                    "option": "Elektrische Freileitungen"
                  },
                  {
                    "option": "Gewässerrandlage"
                  },
                  {
                    "option": "Gefahrstoffe"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Maßnahmen bei besonderer Gefährdung eingeleitet?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Im Trupp/Arbeitsgruppe  unterwiesen?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Zustimmung:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Standortdaten - latitude (erster Wert in GoogleMaps)",
              "fieldType": "number",
              "placeholder": "48.098726",
              "requiredField": true
            },
            {
              "fieldLabel": "Standortdaten - longitude (zweiter Wert in GoogleMaps)",
              "fieldType": "number",
              "placeholder": "11.974201 ",
              "requiredField": true
            },
            {
              "fieldLabel": "jo",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "buttonLabel": "weiter"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -1104,
        304
      ],
      "id": "c6e0251f-292c-472c-98f9-647cb21c7844",
      "name": "Form1",
      "webhookId": "c9f15e3c-026b-49f5-99a1-2dfa3b8853e9"
    },
    {
      "parameters": {
        "formTitle": "Neuer Arbeitsauftrag",
        "formDescription": "Geben Sie wichtige Angaben zu Ihrem Arbeitsauftrag an. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Datum Arbeitstag: ",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Einsatzort",
              "placeholder": "wo arbeiten Sie gerade?",
              "requiredField": true
            },
            {
              "fieldLabel": "Arbeitsverantwortlicher",
              "placeholder": "Wer führt die Arbeit durch? ",
              "requiredField": true
            },
            {
              "fieldLabel": "weitere Einsatzkräfte:",
              "placeholder": "wer arbeitet noch mit Ihnen? "
            },
            {
              "fieldLabel": "Ansprechpartner Kunde: ",
              "placeholder": "Waldbesitzer",
              "requiredField": true
            },
            {
              "fieldLabel": "Kunde Telefon: ",
              "fieldType": "number",
              "placeholder": "Telefonnummer"
            },
            {
              "fieldLabel": "Ersthelfer vor Ort: ",
              "placeholder": "Wer leistet erste Hilfe bei Unfällen? "
            },
            {
              "fieldName": "Rettungspunkt",
              "fieldType": "hiddenField"
            },
            {
              "fieldName": "Witterung",
              "fieldType": "hiddenField"
            }
          ]
        },
        "options": {
          "buttonLabel": "weiter",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -1328,
        208
      ],
      "id": "001e82dc-e404-4289-b2aa-37bf11633760",
      "name": "On form submission1",
      "webhookId": "2d6de1b5-94ca-48a0-910d-4732073b32da"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Eingabe abgeschlossen. ",
        "completionMessage": "Danke für die Übertragung, ihre Eingaben wurden erfolgreich versendet. \nWir wünschen eine gute und sichere Arbeit! ",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -880,
        512
      ],
      "id": "f43b44a2-9dfb-462d-8045-c13ad59332d2",
      "name": "Form3",
      "webhookId": "435006ea-b74b-4078-917f-57ef18d9a85d"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rettungspunkte",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "wgs_breite",
              "condition": "gte",
              "keyValue": "={{ $json['Standortdaten - latitude (erster Wert in GoogleMaps)'] - 0.1 }}"
            },
            {
              "keyName": "wgs_breite",
              "condition": "lte",
              "keyValue": "={{ $json['Standortdaten - latitude (erster Wert in GoogleMaps)'] + 0.1 }}"
            },
            {
              "keyName": "wgs_laenge",
              "condition": "lte",
              "keyValue": "={{ $json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] + 0.1 }}"
            },
            {
              "keyName": "wgs_laenge",
              "condition": "gte",
              "keyValue": "={{ $json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] - 0.1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -656,
        656
      ],
      "id": "b552aebd-d521-4c6e-b1a0-26fc03e06c35",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "cyNSejswiPuBy0Mv",
          "name": "Rettungspunkte(Supabase)"
        }
      }
    },
    {
      "parameters": {
        "locationSelection": "coordinates",
        "latitude": "={{ $('Form1').item.json['Standortdaten - latitude (erster Wert in GoogleMaps)'] }}",
        "longitude": "={{ $('Form1').item.json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] }}",
        "language": "de"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -656,
        464
      ],
      "id": "b3f2a915-1d53-48eb-91a8-88ff2e5d3c5c",
      "name": "OpenWeatherMap1",
      "credentials": {
        "openWeatherMapApi": {
          "id": "CWbJ42ss1QeH9GUK",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gotenberg-liwwwqwh3q-ey.a.run.app/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "files"
            },
            {
              "name": "headerTemplate",
              "value": "={{ $json.headerTemplate }}"
            },
            {
              "name": "footerTemplate",
              "value": "={{ $json.footerTemplate }}"
            },
            {
              "name": "emulatedMediaType",
              "value": "print"
            },
            {
              "name": "preferCssPageSize",
              "value": "true"
            },
            {
              "name": "marginTop",
              "value": "25mm"
            },
            {
              "name": "marginBottom",
              "value": "25mm"
            },
            {
              "name": "marginLeft",
              "value": "20mm"
            },
            {
              "name": "marginRight",
              "value": "20mm"
            },
            {
              "name": "printBackground",
              "value": "true"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          },
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        576
      ],
      "id": "5eac0e5a-e58f-4e01-b7fb-72f131286b12",
      "name": "HTML → PDF (Gotenberg)1"
    },
    {
      "parameters": {
        "sendTo": "rusmir.omerovic@web.de",
        "subject": "Forstauftrag - Bestätigung PDF",
        "message": "Im Anhang findest du das automatisch erzeugte PDF zum Forstauftrag.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        912,
        576
      ],
      "id": "693ab469-efe7-4ba2-aa96-31042f815ad9",
      "name": "Send a message1",
      "webhookId": "9e016e9a-d8de-45cc-80a9-cbcef0019843",
      "credentials": {
        "gmailOAuth2": {
          "id": "r9L6sNQuvKW3wsFJ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc",
          "mode": "list",
          "cachedResultName": "auftragsdaten",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "Datum Arbeitstag",
              "displayName": "Datum Arbeitstag",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Einsatzort",
              "displayName": "Einsatzort",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Arbeitsverantwortlicher",
              "displayName": "Arbeitsverantwortlicher",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Weitere Einsatzkräfte",
              "displayName": "Weitere Einsatzkräfte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ansprechpartner Kunde",
              "displayName": "Ansprechpartner Kunde",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Kunde Telefon",
              "displayName": "Kunde Telefon",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Ersthelfer",
              "displayName": "Ersthelfer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Verkehrsrechtliche Anordnung",
              "displayName": "Verkehrsrechtliche Anordnung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Absperrung",
              "displayName": "Absperrung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Helferanzahl",
              "displayName": "Helferanzahl",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PSA getragen",
              "displayName": "PSA getragen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bemerkungen PSA",
              "displayName": "Bemerkungen PSA",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zufahrt möglich",
              "displayName": "Zufahrt möglich",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maschinentyp",
              "displayName": "Maschinentyp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maschinenbediener",
              "displayName": "Maschinenbediener",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Besondere Gefährdungen",
              "displayName": "Besondere Gefährdungen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maßnahmen bei Gefährdungen",
              "displayName": "Maßnahmen bei Gefährdungen",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Unterweisung",
              "displayName": "Unterweisung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zustimmung",
              "displayName": "Zustimmung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Wetter Beschreibung",
              "displayName": "Wetter Beschreibung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Temperatur",
              "displayName": "Temperatur",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Druck",
              "displayName": "Druck",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Windgeschw.",
              "displayName": "Windgeschw.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bewölkung",
              "displayName": "Bewölkung",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Rettungspunkt Nr.",
              "displayName": "Rettungspunkt Nr.",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Entferung (m)",
              "displayName": "Entferung (m)",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Beschreibung RP",
              "displayName": "Beschreibung RP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bundesland RP",
              "displayName": "Bundesland RP",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Submitted At",
              "displayName": "Submitted At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Verkehrsrechtliche Anordnung/Einsatz an Straße",
              "displayName": "Verkehrsrechtliche Anordnung/Einsatz an Straße",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Posten - wie viele Helfer? ",
              "displayName": "Posten - wie viele Helfer? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Persönliche Schutzausrüstung geprüft/getragen? ",
              "displayName": "Persönliche Schutzausrüstung geprüft/getragen? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Bemerkungen zu Schutzausrüstung: ",
              "displayName": "Bemerkungen zu Schutzausrüstung: ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zufahrt für Maschinen möglich? ",
              "displayName": "Zufahrt für Maschinen möglich? ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maschintyp",
              "displayName": "Maschintyp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maschinenbediener: ",
              "displayName": "Maschinenbediener: ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Besondere Gefährdungen:",
              "displayName": "Besondere Gefährdungen:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Maßnahmen bei besonderer Gefährdung eingeleitet?",
              "displayName": "Maßnahmen bei besonderer Gefährdung eingeleitet?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Im Trupp/Arbeitsgruppe  unterwiesen?",
              "displayName": "Im Trupp/Arbeitsgruppe  unterwiesen?",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Zustimmung:",
              "displayName": "Zustimmung:",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "submittedAt",
              "displayName": "submittedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "weather",
              "displayName": "weather",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "main",
              "displayName": "main",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "wind",
              "displayName": "wind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "clouds",
              "displayName": "clouds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "top_3_rettungspunkte",
              "displayName": "top_3_rettungspunkte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        16,
        384
      ],
      "id": "e3f3cda8-43d7-4ff1-a157-f78b981096e2",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "awTBm5n9jFsyxPvL",
          "name": "Google Sheets rusmir-projects"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Sichere Daten + HTML für Gotenberg (self-contained)\nconst d = item.json || {};\nconst now = new Date().toLocaleString('de-DE', { dateStyle: 'medium', timeStyle: 'short' });\n\n// Helper mit Aliassen\nconst pick = (keys, def='—') => {\n  for (const k of keys) {\n    const v = d?.[k];\n    if (v !== undefined && v !== null && String(v) !== '') return v;\n  }\n  return def;\n};\n\n// Firmenangaben\nconst firma = {\n  name: d[\"Firma/Organisation\"] ?? \"Forstauftrag online\",\n  web:  d[\"Firma Website\"] ?? \"forstauftrag.online\",\n  mail: d[\"Firma E-Mail\"] ?? \"info@forstauftrag.online\",\n  tel:  d[\"Firma Telefon\"] ?? \"–\",\n  addr: d[\"Firma Adresse\"] ?? \"–\",\n};\n\n// Logo (DataURL bevorzugt)\nconst uploadLogo = item.binary?.Firmenlogo || item.binary?.logo || item.binary?.jo;\nconst fallbackBinLogo = item.binary?.fallback_logo;\nconst dataUrlFromBin = (bin) => bin ? `data:${bin.mimeType || 'image/png'};base64,${bin.data}` : null;\nconst DEFAULT_LOGO_DATA_URL = null;\nconst logoDataUrl = dataUrlFromBin(uploadLogo) || dataUrlFromBin(fallbackBinLogo) || DEFAULT_LOGO_DATA_URL;\n\n// === MAPPINGS (genau deine Feldnamen + Aliase)\nconst meta = {\n  datum:            pick(['Datum Arbeitstag: ', 'Datum']),\n  einsatzort:       pick(['Einsatzort', 'Ort', 'Einsatz-Ort']),\n  verantwortlicher: pick(['Arbeitsverantwortlicher', 'Verantwortlicher']),\n  weitere:          pick(['weitere Einsatzkräfte:', 'weitere Einsatzkraefte'], '—'),\n  kunde:            pick(['Ansprechpartner Kunde: ', 'Kunde']),\n  kundeTel:         pick(['Kunde Telefon: ', 'Kunde Telefon', 'Telefon'], '—'),\n  ersthelfer:       pick(['Ersthelfer vor Ort: '], '—'),\n  submittedAt:      pick(['submittedAt'], now),\n};\n\nconst sicherheit = {\n  verkehr:           pick(['Verkehrsrechtliche Anordnung/Einsatz an Straße']),\n  absperrung:        pick(['Absperrung']),\n  helfer:            pick(['Posten - wie viele Helfer? ']),\n  psa:               pick(['Persönliche Schutzausrüstung geprüft/getragen? ']),\n  psaNote:           pick(['Bemerkungen zu Schutzausrüstung: ']),\n  zufahrt:           pick(['Zufahrt für Maschinen möglich? ']),\n  maschinen:         Array.isArray(d.Maschintyp) ? d.Maschintyp : (d.Maschintyp ? [d.Maschintyp] : []),\n  maschinenbediener: pick(['Maschinenbediener: '], '—'),\n  gefaehrdungen:     Array.isArray(d['Besondere Gefährdungen:']) ? d['Besondere Gefährdungen:'] : [],\n  massnahmen:        pick(['Maßnahmen bei besonderer Gefährdung eingeleitet?']),\n  unterwiesen:       pick(['Im Trupp/Arbeitsgruppe  unterwiesen?']),\n};\n\n// Wetter (OpenWeatherMap)\nconst wetter = {\n  beschreibung: d.weather?.[0]?.description ?? '—',\n  temp:         d.main?.temp ?? '—',\n  druck:        d.main?.pressure ?? '—',\n  wind:         d.wind?.speed ?? '—',\n  wolken:       d.clouds?.all ?? '—',\n};\n\n// Rettungspunkte + GPS\nconst rp = Array.isArray(d.top_3_rettungspunkte) ? d.top_3_rettungspunkte : [];\nconst gps = {\n  lat: pick(['Standortdaten - latitude (erster Wert in GoogleMaps)', 'lat', 'latitude'], ''),\n  lon: pick(['Standortdaten - longitude (zweiter Wert in GoogleMaps)', 'lon', 'longitude'], ''),\n};\nconst mapsUrl = (gps.lat && gps.lon)\n  ? `https://www.google.com/maps?q=${encodeURIComponent(`${gps.lat},${gps.lon}`)}`\n  : null;\n\n// Helpers\nconst esc = (v) => String(v ?? '').replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;').replace(/\"/g,'&quot;').replace(/'/g,'&#039;');\nconst chip = (t) => `<span class=\"chip\">${esc(t)}</span>`;\nconst chips = (arr=[]) => arr.length ? `<div class=\"chips\">${arr.map(chip).join('')}</div>` : '<span class=\"muted\">—</span>';\nconst badge = (t) => `<span class=\"badge\">${esc(t)}</span>`;\nconst badges = (arr=[]) => arr.length ? `<div class=\"badges-list\">${arr.map(badge).join('')}</div>` : '<span class=\"muted\">—</span>';\nconst rpRows = rp.length ? rp.map((p,i)=>`\n  <tr>\n    <td>${i+1}</td>\n    <td><strong>${esc(p.rp_nr)}</strong></td>\n    <td>${esc(p.beschreibung)}</td>\n    <td>${esc(p.bundesland)}</td>\n    <td class=\"num\">${esc(p.entfernung_m)} m</td>\n  </tr>`).join('') :\n  `<tr><td colspan=\"5\" class=\"muted\">Keine Rettungspunkte gefunden.</td></tr>`;\n\n// Header/Footer (Chromium)\nconst headerTemplate = `\n  <style>\n    *{box-sizing:border-box} body{margin:0;font-family:Arial,Helvetica,sans-serif}\n    .h-wrap{background:#B8E6F1; padding:10px 24px; display:flex; align-items:center; justify-content:space-between; font-size:10px;}\n    .h-left{display:flex; align-items:center; gap:12px}\n    .h-left img{width:28px;height:28px;object-fit:contain}\n    .h-title{font-size:14px;font-weight:700}\n    .h-meta{font-size:10px;opacity:.8}\n  </style>\n  <div class=\"h-wrap\">\n    <div class=\"h-left\">\n      ${logoDataUrl ? `<img src=\"${esc(logoDataUrl)}\" alt=\"Logo\"/>` : `<div style=\"width:28px;height:28px;border-radius:4px;background:#fff;\"></div>`}\n      <div>\n        <div class=\"h-title\">${esc(firma.name)}</div>\n        <div class=\"h-meta\">Arbeitsauftrag • ${esc(meta.einsatzort || '—')}</div>\n      </div>\n    </div>\n    <div>\n      <div><b>Datum:</b> ${esc(meta.datum || '—')}</div>\n      <div><b>Erstellt:</b> ${esc(now)}</div>\n    </div>\n  </div>\n`;\n\nconst footerTemplate = `\n  <style>\n    *{box-sizing:border-box} body{margin:0;font-family:Arial,Helvetica,sans-serif}\n    .f-wrap{background:#BFC0C3; padding:8px 24px; display:flex; align-items:center; justify-content:space-between; font-size:9px;}\n    .f-stack{display:flex; gap:16px; align-items:center}\n    .f-stack a:first-child{font-weight:700}\n    .page::after{content: counter(page) \" / \" counter(pages);}\n  </style>\n  <div class=\"f-wrap\">\n    <div class=\"f-stack\">\n      <a>${esc(firma.web)}</a>\n      <a>${esc(firma.mail)}</a>\n      <span>${esc(firma.tel)}</span>\n      <span>${esc(firma.addr)}</span>\n    </div>\n    <div class=\"page\"></div>\n  </div>\n`;\n\n// === Logos als Data-URLs (klein & inline) ===\nconst LOGO_RYZEUP =\n'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAA...a3OsjqVrc6yOpWB1nd6iCrW93qIKvbv7/9P7kwWAbzG//hAAAAAElFTkSuQmCC';\n\nconst LOGO_BG =\n'data:image/png;base64,iVBORw0KGgoAAAAN...rnhsxHpXFDzw1+5qes4+tnuK+yGnlEvgbyf74KI2LxKXQSAAAAAElFTkSuQmCC';\n\nconst LOGO_AUFTRAG =\n'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA...TGCAgoRKOExhghFDEJP6ZvBQoUKFCgwH/jn+jaYT69zpq7AAAAAElFTkSuQmCC';\n\n// Verbesserter JavaScript Code für das PDF-Layout\n// Dieser Code ersetzt den bestehenden HTML-Generierungsteil in Ihrem n8n Workflow\n\nconst html = `<!doctype html>\n<html lang=\"de\">\n<head>\n<meta charset=\"utf-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Arbeitsauftrag Forstwirtschaft</title>\n<style>\n  :root{\n    --bg: #0c1512;\n    --surface: #12211a;\n    --surface-2: #0e1b15;\n    --card: #12261c;\n    --brand-1: #10b981;      /* Akzentgrün */\n    --brand-2: #34d399;      /* Verlauf */\n    --text: #e6f2ec;         /* Haupttext */\n    --muted: #9fb3aa;        /* Sekundärtext */\n    --border: #1f3a2e;       /* Kartenrahmen */\n    --warn: #f59e0b;\n    --ok: #22c55e;\n    --chip-bg: #0f3326;\n  }\n\n  /* Vollflächig drucken */\n  @page { size: A4; margin: 0; }\n  html, body { height: 100%; }\n  * { box-sizing: border-box; -webkit-print-color-adjust: exact; print-color-adjust: exact; }\n\n  body{\n    margin:0; padding:0;\n    background: var(--bg);\n    color: var(--text);\n    font: 12pt/1.45 system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;\n  }\n\n  /* Eine A4-Seite mit Innenabstand – keine äußeren Ränder */\n  .page{\n    width: 210mm;\n    min-height: 297mm;\n    margin: 0 auto;\n    background: var(--surface);\n    display: grid;\n    grid-template-rows: auto 1fr auto;\n    padding: 16mm 16mm 14mm 16mm;   /* Innenabstand statt Seitenränder */\n  }\n\n  /* Obere Logozeile */\n  .logos{\n    display:flex; align-items:center; justify-content:flex-start; gap:16mm;\n    margin-bottom: 8mm;\n  }\n  .logos img{\n    height: 14mm; width:auto; display:block;\n    filter: drop-shadow(0 1px 0 rgba(0,0,0,.15));\n  }\n\n  /* Headline-Bar */\n  .header{\n    background: linear-gradient(135deg, var(--brand-1), var(--brand-2));\n    color:#05110d;\n    border-radius: 10px;\n    padding: 10mm 12mm;\n    margin-bottom: 8mm;\n  }\n  .header h1{ margin:0 0 2mm 0; font-size: 20pt; letter-spacing: .2px; }\n  .header .sub{ margin:0; opacity:.85; }\n  .meta{\n    margin-top: 2mm;\n    display:flex; gap:10mm; flex-wrap:wrap;\n    font-size:10pt; color:#052017; font-weight:600;\n  }\n\n  /* Inhalt */\n  .content{ display:block; }\n\n  .card{\n    background: var(--card);\n    border:1px solid var(--border);\n    border-radius:12px;\n    margin: 0 0 6mm 0;\n    overflow:hidden;\n    box-shadow: 0 2px 10px rgba(0,0,0,.18);\n    page-break-inside: avoid;\n    break-inside: avoid-page;\n  }\n  .card .card-h{\n    background: linear-gradient(90deg, #0f2b20, rgba(15,43,32,0));\n    padding: 8mm 10mm 5mm 10mm;\n    font-weight:700; letter-spacing:.3px; border-bottom:1px solid var(--border);\n  }\n  .card .card-b{ padding: 8mm 10mm; }\n\n  .grid{\n    display:grid; grid-template-columns: 1fr 1fr; gap: 6mm 10mm;\n  }\n  .row{ display:flex; flex-direction:column; }\n  .label{ font-size: 9pt; color: var(--muted); text-transform: uppercase; letter-spacing:.35px; margin-bottom:1mm; }\n  .val{ font-size: 11.5pt; font-weight:600; }\n\n  .yes{ color: var(--ok); }\n  .no{ color: var(--warn); }\n\n  .chips{ display:flex; flex-wrap:wrap; gap:4mm; margin-top:2mm; }\n  .chip{\n    background: var(--chip-bg);\n    border:1px solid var(--border);\n    padding: 2.5mm 4mm; border-radius: 999px;\n    font-size:9pt; font-weight:700; color: var(--text);\n  }\n  .chip.hazard{ background:#3b1f0a; border-color:#7a3c11; color:#ffcc88; }\n\n  .weather{\n    display:grid; grid-template-columns: repeat(5, 1fr); gap:6mm; text-align:center;\n  }\n  .wbox{\n    background: var(--surface-2);\n    border:1px solid var(--border); border-radius:10px; padding:6mm 4mm;\n  }\n  .wval{ font-size: 16pt; font-weight:800; color: var(--brand-2); margin-bottom:1mm; }\n  .wlab{ font-size:8.5pt; color: var(--muted); text-transform:uppercase; }\n\n  table.tbl{ width:100%; border-collapse:separate; border-spacing:0; background:var(--surface-2); border:1px solid var(--border); border-radius:10px; overflow:hidden; }\n  .tbl thead th{\n    background:#0f2b20; color:#c9f0e1; text-align:left; padding:4.5mm 5mm; font-size:10pt; border-bottom:1px solid var(--border);\n  }\n  .tbl td{ padding:4.5mm 5mm; border-bottom:1px solid var(--border); }\n  .tbl tr:last-child td{ border-bottom:0; }\n  .td-num{ text-align:right; font-weight:700; color: var(--brand-2); }\n\n  .gps{\n    background: var(--surface-2); border:1px solid var(--border); border-radius:10px; padding:6mm; text-align:center;\n  }\n  .coord{ font: 700 14pt/1.1 \"SFMono-Regular\", ui-monospace, Menlo, Consolas, monospace; color: #8be0b6; margin: 2mm 0 3mm; }\n  .map a{ color: var(--brand-2); text-decoration:none; font-weight:700; }\n  .map a:hover{ text-decoration:underline; }\n\n  .footer{\n    margin-top: 8mm;\n    border-top: 1px solid var(--border);\n    padding-top: 6mm;\n    display:flex; align-items:flex-start; justify-content:space-between; gap:8mm; color: var(--muted); font-size:9.5pt;\n  }\n  .f-left{ max-width: 105mm; }\n  .f-right{ text-align:right; }\n\n  /* Mobile Vorschau */\n  @media screen and (max-width: 900px){\n    .grid{ grid-template-columns:1fr; }\n    .weather{ grid-template-columns: repeat(2, 1fr); }\n  }\n</style>\n</head>\n<body>\n  <div class=\"page\">\n\n    <!-- Logos -->\n    <div class=\"logos\">\n      <img src=\"DATA_URI_RYZEUP\" alt=\"RYZEUP\">\n      <img src=\"DATA_URI_BG\" alt=\"BG\">\n      <img src=\"DATA_URI_AUFTRAG\" alt=\"Auftrag\">\n    </div>\n\n    <!-- Header -->\n    <div class=\"header\">\n      <h1>Arbeitsauftrag Forstwirtschaft</h1>\n      <p class=\"sub\">Einsatzort: ${esc(meta.einsatzort || '—')}</p>\n      <div class=\"meta\">\n        <div><strong>Datum:</strong> ${esc(meta.datum || '—')}</div>\n        <div><strong>Erstellt:</strong> ${esc(now)}</div>\n        <div><strong>Verantwortlich:</strong> ${esc(meta.verantwortlicher || '—')}</div>\n      </div>\n    </div>\n\n    <!-- Inhalt -->\n    <div class=\"content\">\n\n      <div class=\"card\">\n        <div class=\"card-h\">Auftragsdaten</div>\n        <div class=\"card-b\">\n          <div class=\"grid\">\n            <div class=\"row\"><div class=\"label\">Einsatzort</div><div class=\"val\">${esc(meta.einsatzort || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Arbeitsverantwortlicher</div><div class=\"val\">${esc(meta.verantwortlicher || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Weitere Einsatzkräfte</div><div class=\"val\">${esc(meta.weitere || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Ansprechpartner Kunde</div><div class=\"val\">${esc(meta.kunde || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Kunde Telefon</div><div class=\"val\">${esc(meta.kundeTel || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Ersthelfer vor Ort</div><div class=\"val\">${esc(meta.ersthelfer || '—')}</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-h\">Sicherheit &amp; Organisation</div>\n        <div class=\"card-b\">\n          <div class=\"grid\">\n            <div class=\"row\"><div class=\"label\">Verkehrsrechtliche Anordnung</div><div class=\"val ${sicherheit.verkehr === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.verkehr)}</div></div>\n            <div class=\"row\"><div class=\"label\">Absperrung</div><div class=\"val\">${esc(sicherheit.absperrung)}</div></div>\n            <div class=\"row\"><div class=\"label\">Posten/Helfer</div><div class=\"val\">${esc(sicherheit.helfer)}</div></div>\n            <div class=\"row\"><div class=\"label\">PSA geprüft/getragen</div><div class=\"val ${sicherheit.psa === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.psa)}</div></div>\n            <div class=\"row\"><div class=\"label\">Zufahrt für Maschinen</div><div class=\"val ${sicherheit.zufahrt === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.zufahrt)}</div></div>\n            <div class=\"row\"><div class=\"label\">Maschinenbediener</div><div class=\"val\">${esc(sicherheit.maschinenbediener)}</div></div>\n          </div>\n\n          ${sicherheit.psaNote && sicherheit.psaNote !== '—' ? `\n          <div style=\"margin-top:5mm\">\n            <div class=\"label\">Bemerkungen PSA</div>\n            <div class=\"val\">${esc(sicherheit.psaNote)}</div>\n          </div>` : ''}\n\n          <div style=\"margin-top:6mm\">\n            <div class=\"label\">Maschinentyp(en)</div>\n            <div class=\"chips\">${sicherheit.maschinen.map(m => `<span class=\"chip\">${esc(m)}</span>`).join('')}</div>\n          </div>\n\n          ${sicherheit.gefaehrdungen.length ? `\n          <div style=\"margin-top:6mm\">\n            <div class=\"label\">Besondere Gefährdungen</div>\n            <div class=\"chips\">${sicherheit.gefaehrdungen.map(g => `<span class=\"chip hazard\">${esc(g)}</span>`).join('')}</div>\n          </div>` : ''}\n\n          <div class=\"grid\" style=\"margin-top:6mm\">\n            <div class=\"row\"><div class=\"label\">Maßnahmen bei Gefährdung eingeleitet</div><div class=\"val ${sicherheit.massnahmen === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.massnahmen)}</div></div>\n            <div class=\"row\"><div class=\"label\">Unterweisung im Trupp</div><div class=\"val ${sicherheit.unterwiesen === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.unterwiesen)}</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-h\">Wetterbedingungen</div>\n        <div class=\"card-b\">\n          <div class=\"weather\">\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.beschreibung)}</div><div class=\"wlab\">Beschreibung</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.temp)} °C</div><div class=\"wlab\">Temperatur</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.druck)} hPa</div><div class=\"wlab\">Luftdruck</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.wind)} m/s</div><div class=\"wlab\">Wind</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.wolken)} %</div><div class=\"wlab\">Bewölkung</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-h\">Nächste Rettungspunkte</div>\n        <div class=\"card-b\">\n          <table class=\"tbl\">\n            <thead><tr><th>#</th><th>RP-Nummer</th><th>Beschreibung</th><th>Bundesland</th><th style=\"text-align:right\">Entfernung</th></tr></thead>\n            <tbody>\n              ${rp.length ? rp.map((p,i)=>`\n              <tr>\n                <td>${i+1}</td>\n                <td><strong>${esc(p.rp_nr)}</strong></td>\n                <td>${esc(p.beschreibung)}</td>\n                <td>${esc(p.bundesland)}</td>\n                <td class=\"td-num\">${esc(p.entfernung_m)} m</td>\n              </tr>`).join('') :\n              `<tr><td colspan=\"5\" style=\"text-align:center;color:var(--muted);font-style:italic;padding:7mm 0\">Keine Rettungspunkte gefunden</td></tr>`}\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <div class=\"card\">\n        <div class=\"card-h\">GPS-Standort</div>\n        <div class=\"card-b\">\n          <div class=\"gps\">\n            <div class=\"label\">Koordinaten</div>\n            <div class=\"coord\">${esc(gps.lat || '—')}, ${esc(gps.lon || '—')}</div>\n            <div class=\"map\">\n              ${mapsUrl ? `<a href=\"${esc(mapsUrl)}\">🗺️ Karte öffnen</a>` : '<span style=\"color:var(--muted)\">Kein Kartenlink verfügbar</span>'}\n            </div>\n          </div>\n        </div>\n      </div>\n    </div>\n\n    <!-- Footer im Body (keine Gotenberg-Header/Footer nötig) -->\n    <div class=\"footer\">\n      <div class=\"f-left\">\n        <div><strong>Ryzeup UG (haftungsbeschränkt)</strong></div>\n        <div>Vertretungsberechtigt: Robin Alexander Riemel</div>\n        <div>Rotthang 3, 84494 Neumarkt-Sankt Veit</div>\n        <div>Amtsgericht Traunstein · HRB 31367</div>\n      </div>\n      <div class=\"f-right\">\n        <div>© 2025 Ryzeup UG (haftungsbeschränkt). All rights reserved.</div>\n        <div>ryzeup.ai · info@ryzeup.ai</div>\n      </div>\n    </div>\n\n  </div>\n</body>\n</html>\n`;\n\n// Rückgabe\nreturn { json: { ...item.json, html, headerTemplate, footerTemplate } };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        576
      ],
      "id": "c6866465-6fec-4d74-917c-b6e18eaba099",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        480
      ],
      "id": "d6fd66cf-cbc1-466d-b554-b26a992a80e0",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -432,
        384
      ],
      "id": "cc3e0868-aa3a-4260-a487-ab4ed6451072",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -656,
        240
      ],
      "id": "1e3c00cb-8a32-4e36-ae97-cc02bca0586f",
      "name": "Merge0"
    },
    {
      "parameters": {
        "jsCode": "const latitude = parseFloat($('Form3').first().json['Standortdaten - latitude (erster Wert in GoogleMaps)']);\nconst longitude = parseFloat($('Form3').first().json['Standortdaten - longitude (zweiter Wert in GoogleMaps)']);\nconst rettungspunkte = $items();\n\nfunction distance(lat1, lon1, lat2, lon2) {\n  const R = 6371e3;\n  const toRad = deg => deg * (Math.PI / 180);\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat / 2) ** 2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n            Math.sin(dLon / 2) ** 2;\n  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n  return R * c;\n}\n\nconst distanzArray = rettungspunkte.map(punkt => {\n  const dist = distance(latitude, longitude, punkt.json.wgs_breite, punkt.json.wgs_laenge);\n  return {\n    rp_nr: punkt.json.rp_nr,\n    entfernung_m: Math.round(dist),\n    lat: punkt.json.wgs_breite,\n    lon: punkt.json.wgs_laenge,\n    id: punkt.json.id,\n    beschreibung: punkt.json.beschreibung,\n    bundesland: punkt.json.bundesland\n  };\n});\n\nconst top3 = distanzArray.sort((a, b) => a.entfernung_m - b.entfernung_m).slice(0, 3);\n\nreturn [\n  {\n    json: {\n      gps_ursprung: { latitude, longitude },\n      top_3_rettungspunkte: top3\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -432,
        656
      ],
      "id": "c4cb8175-1a86-44f0-91f0-03f183edb61a",
      "name": "Harvesine"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "if (item.binary && item.binary.data) { item.binary.data.fileName = 'Forstauftrag.pdf'; item.binary.data.mimeType = 'application/pdf'; item.binary.data.fileExtension = 'pdf'; } return item;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        576
      ],
      "id": "308bfbc1-39d6-4ac3-a536-32939ef2e2d8",
      "name": "Code3"
    }
  ],
  "pinData": {
    "On form submission1": [
      {
        "json": {
          "Datum Arbeitstag: ": "2025-06-22",
          "Einsatzort": "Ebersberg",
          "Arbeitsverantwortlicher": "Rusmir",
          "weitere Einsatzkräfte:": "keiner",
          "Ansprechpartner Kunde: ": "Fritz Holzer",
          "Kunde Telefon: ": 0,
          "Ersthelfer vor Ort: ": "Rusmir",
          "Rettungspunkt": "",
          "Witterung": "",
          "submittedAt": "2025-06-22T20:56:04.410+02:00",
          "formMode": "test"
        }
      }
    ],
    "Form1": [
      {
        "json": {
          "Verkehrsrechtliche Anordnung/Einsatz an Straße": "nein",
          "Absperrung": "keine",
          "Posten - wie viele Helfer? ": "0 - keine notwendig",
          "Persönliche Schutzausrüstung geprüft/getragen? ": "ja",
          "Bemerkungen zu Schutzausrüstung: ": "",
          "Zufahrt für Maschinen möglich? ": "ja",
          "Maschintyp": [
            "Harvester"
          ],
          "Maschinenbediener: ": "Rusmir",
          "Besondere Gefährdungen:": [
            "Schlechte Sicht",
            "Wind"
          ],
          "Maßnahmen bei besonderer Gefährdung eingeleitet?": "ja",
          "Im Trupp/Arbeitsgruppe  unterwiesen?": "nein",
          "Zustimmung:": [
            "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
          ],
          "Standortdaten - latitude (erster Wert in GoogleMaps)": 48.106048,
          "Standortdaten - longitude (zweiter Wert in GoogleMaps)": 11.945097,
          "jo": null,
          "submittedAt": "2025-07-03T14:58:45.805+02:00",
          "formMode": "test"
        }
      }
    ],
    "Form3": [
      {
        "json": {
          "Verkehrsrechtliche Anordnung/Einsatz an Straße": "nein",
          "Absperrung": "keine",
          "Posten - wie viele Helfer? ": "0 - keine notwendig",
          "Persönliche Schutzausrüstung geprüft/getragen? ": "ja",
          "Bemerkungen zu Schutzausrüstung: ": "",
          "Zufahrt für Maschinen möglich? ": "ja",
          "Maschintyp": [
            "Harvester"
          ],
          "Maschinenbediener: ": "Rusmir",
          "Besondere Gefährdungen:": [
            "Schlechte Sicht",
            "Wind"
          ],
          "Maßnahmen bei besonderer Gefährdung eingeleitet?": "ja",
          "Im Trupp/Arbeitsgruppe  unterwiesen?": "nein",
          "Zustimmung:": [
            "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
          ],
          "Standortdaten - latitude (erster Wert in GoogleMaps)": 48.106048,
          "Standortdaten - longitude (zweiter Wert in GoogleMaps)": 11.945097,
          "jo": null,
          "submittedAt": "2025-07-03T14:58:45.805+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Move Binary Data (HTML file)": {
      "main": [
        [
          {
            "node": "HTML → PDF (Gotenberg)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Form3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form3": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenWeatherMap1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Harvesine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → PDF (Gotenberg)1": {
      "main": [
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Move Binary Data (HTML file)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          },
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge0": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Harvesine": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code3": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9d8570ab-653a-4bb1-8140-1d210ebc3490",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a3eab6b88b8510864f912a25810c5ba12780e3df16b467154212c331aaa0bdb"
  },
  "id": "4AWkG2MF5QOLgIn6",
  "tags": []
}
