workflow.json
{
  "name": "forstauftrag",
  "nodes": [
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "html",
        "destinationKey": "files",
        "options": {
          "encoding": "utf8",
          "fileName": "index.html",
          "mimeType": "text/html; charset=utf-8",
          "useRawData": true
        }
      },
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        -768,
        144
      ],
      "id": "dcd9be87-d2ed-48f2-9bfd-7e27c9372639",
      "name": "Move Binary Data (HTML file)"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldLabel": "Verkehrsrechtliche Anordnung/Einsatz an Straße",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Absperrung",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "keine"
                  },
                  {
                    "option": "ja - Vollsperrung mit Schilder und Absperrband"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Posten - wie viele Helfer? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "0 - keine notwendig"
                  },
                  {
                    "option": "1"
                  },
                  {
                    "option": "2"
                  },
                  {
                    "option": "3"
                  },
                  {
                    "option": "4"
                  },
                  {
                    "option": "5"
                  },
                  {
                    "option": "mehr als 5 "
                  }
                ]
              }
            },
            {
              "fieldLabel": "Persönliche Schutzausrüstung geprüft/getragen? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Bemerkungen zu Schutzausrüstung: ",
              "fieldType": "textarea",
              "placeholder": "Besonderheiten bei Schutzausrüstung, falls vorhanden. "
            },
            {
              "fieldLabel": "Zufahrt für Maschinen möglich? ",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Maschintyp",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Harvester"
                  },
                  {
                    "option": "Forwarder"
                  },
                  {
                    "option": "(Seil-)Schlepper/Traktor"
                  },
                  {
                    "option": "Lkw"
                  },
                  {
                    "option": "Bagger"
                  },
                  {
                    "option": "sonstige Maschinen"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Maschinenbediener: ",
              "placeholder": "Fahrer 1, Fahrer 2, Fahrer3, .... "
            },
            {
              "fieldLabel": "Besondere Gefährdungen:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "=Witterung/Nässe"
                  },
                  {
                    "option": "Boden nicht tragfähig"
                  },
                  {
                    "option": "Absturzgefahr "
                  },
                  {
                    "option": "Von Personen frequentiert/Spaziergänger"
                  },
                  {
                    "option": "Schlechte Sicht "
                  },
                  {
                    "option": "Böschungslage"
                  },
                  {
                    "option": "Verkehrswege"
                  },
                  {
                    "option": "Störender Bewuchs"
                  },
                  {
                    "option": "Wind"
                  },
                  {
                    "option": "Elektrische Freileitungen"
                  },
                  {
                    "option": "Gewässerrandlage"
                  },
                  {
                    "option": "Gefahrstoffe"
                  }
                ]
              },
              "multiselect": true
            },
            {
              "fieldLabel": "Maßnahmen bei besonderer Gefährdung eingeleitet?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Im Trupp/Arbeitsgruppe  unterwiesen?",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "ja"
                  },
                  {
                    "option": "nein"
                  }
                ]
              }
            },
            {
              "fieldLabel": "Zustimmung:",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
                  }
                ]
              },
              "multiselect": true,
              "requiredField": true
            },
            {
              "fieldLabel": "Standortdaten - latitude (erster Wert in GoogleMaps)",
              "fieldType": "number",
              "placeholder": "48.098726",
              "requiredField": true
            },
            {
              "fieldLabel": "Standortdaten - longitude (zweiter Wert in GoogleMaps)",
              "fieldType": "number",
              "placeholder": "11.974201 ",
              "requiredField": true
            },
            {
              "fieldLabel": "jo",
              "fieldType": "file",
              "multipleFiles": false
            }
          ]
        },
        "options": {
          "buttonLabel": "weiter"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -2784,
        -368
      ],
      "id": "2ad4df81-bf43-4daa-869d-854d2fa91671",
      "name": "Form1",
      "webhookId": "c9f15e3c-026b-49f5-99a1-2dfa3b8853e9"
    },
    {
      "parameters": {
        "formTitle": "Neuer Arbeitsauftrag",
        "formDescription": "Geben Sie wichtige Angaben zu Ihrem Arbeitsauftrag an. ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Datum Arbeitstag: ",
              "fieldType": "date",
              "requiredField": true
            },
            {
              "fieldLabel": "Einsatzort",
              "placeholder": "wo arbeiten Sie gerade?",
              "requiredField": true
            },
            {
              "fieldLabel": "Arbeitsverantwortlicher",
              "placeholder": "Wer führt die Arbeit durch? ",
              "requiredField": true
            },
            {
              "fieldLabel": "weitere Einsatzkräfte:",
              "placeholder": "wer arbeitet noch mit Ihnen? "
            },
            {
              "fieldLabel": "Ansprechpartner Kunde: ",
              "placeholder": "Waldbesitzer",
              "requiredField": true
            },
            {
              "fieldLabel": "Kunde Telefon: ",
              "fieldType": "number",
              "placeholder": "Telefonnummer"
            },
            {
              "fieldLabel": "Ersthelfer vor Ort: ",
              "placeholder": "Wer leistet erste Hilfe bei Unfällen? "
            },
            {
              "fieldName": "Rettungspunkt",
              "fieldType": "hiddenField"
            },
            {
              "fieldName": "Witterung",
              "fieldType": "hiddenField"
            }
          ]
        },
        "options": {
          "buttonLabel": "weiter",
          "customCss": ":root {\n\t--font-family: 'Open Sans', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 12px;\n\t--font-size-label: 14px;\n\t--font-size-test-notice: 12px;\n\t--font-size-input: 14px;\n\t--font-size-header: 20px;\n\t--font-size-paragraph: 14px;\n\t--font-size-link: 12px;\n\t--font-size-error: 12px;\n\t--font-size-html-h1: 28px;\n\t--font-size-html-h2: 20px;\n\t--font-size-html-h3: 16px;\n\t--font-size-html-h4: 14px;\n\t--font-size-html-h5: 12px;\n\t--font-size-html-h6: 10px;\n\t--font-size-subheader: 14px;\n\n\t/* Colors */\n\t--color-background: #fbfcfe;\n\t--color-test-notice-text: #e6a23d;\n\t--color-test-notice-bg: #fefaf6;\n\t--color-test-notice-border: #f6dcb7;\n\t--color-card-bg: #ffffff;\n\t--color-card-border: #dbdfe7;\n\t--color-card-shadow: rgba(99, 77, 255, 0.06);\n\t--color-link: #7e8186;\n\t--color-header: #525356;\n\t--color-label: #555555;\n\t--color-input-border: #dbdfe7;\n\t--color-input-text: #71747A;\n\t--color-focus-border: rgb(90, 76, 194);\n\t--color-submit-btn-bg: #ff6d5a;\n\t--color-submit-btn-text: #ffffff;\n\t--color-error: #ea1f30;\n\t--color-required: #ff6d5a;\n\t--color-clear-button-bg: #7e8186;\n\t--color-html-text: #555;\n\t--color-html-link: #ff6d5a;\n\t--color-header-subtext: #7e8186;\n\n\t/* Border Radii */\n\t--border-radius-card: 8px;\n\t--border-radius-input: 6px;\n\t--border-radius-clear-btn: 50%;\n\t--card-border-radius: 8px;\n\n\t/* Spacing */\n\t--padding-container-top: 24px;\n\t--padding-card: 24px;\n\t--padding-test-notice-vertical: 12px;\n\t--padding-test-notice-horizontal: 24px;\n\t--margin-bottom-card: 16px;\n\t--padding-form-input: 12px;\n\t--card-padding: 24px;\n\t--card-margin-bottom: 16px;\n\n\t/* Dimensions */\n\t--container-width: 448px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 18px;\n\n\t/* Others */\n\t--box-shadow-card: 0px 4px 16px 0px var(--color-card-shadow);\n\t--opacity-placeholder: 0.5;\n}"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -3008,
        -272
      ],
      "id": "e27ee8c0-a79d-4b1b-af4a-7b5934d8091b",
      "name": "On form submission1",
      "webhookId": "2d6de1b5-94ca-48a0-910d-4732073b32da"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Eingabe abgeschlossen. ",
        "completionMessage": "Danke für die Übertragung, ihre Eingaben wurden erfolgreich versendet. \nWir wünschen eine gute und sichere Arbeit! ",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        -2560,
        -272
      ],
      "id": "2b6bfafb-3c9e-4657-a0e6-ededa954b90d",
      "name": "Form3",
      "webhookId": "435006ea-b74b-4078-917f-57ef18d9a85d"
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "rettungspunkte",
        "returnAll": true,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "wgs_breite",
              "condition": "gte",
              "keyValue": "={{ $json['Standortdaten - latitude (erster Wert in GoogleMaps)'] - 0.1 }}"
            },
            {
              "keyName": "wgs_breite",
              "condition": "lte",
              "keyValue": "={{ $json['Standortdaten - latitude (erster Wert in GoogleMaps)'] + 0.1 }}"
            },
            {
              "keyName": "wgs_laenge",
              "condition": "lte",
              "keyValue": "={{ $json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] + 0.1 }}"
            },
            {
              "keyName": "wgs_laenge",
              "condition": "gte",
              "keyValue": "={{ $json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] - 0.1 }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -2336,
        -96
      ],
      "id": "c9309ae1-8fa6-4518-8993-4a6a07bb486e",
      "name": "Get many rows1",
      "credentials": {
        "supabaseApi": {
          "id": "cyNSejswiPuBy0Mv",
          "name": "Rettungspunkte(Supabase)"
        }
      }
    },
    {
      "parameters": {
        "locationSelection": "coordinates",
        "latitude": "={{ $('Form1').item.json['Standortdaten - latitude (erster Wert in GoogleMaps)'] }}",
        "longitude": "={{ $('Form1').item.json['Standortdaten - longitude (zweiter Wert in GoogleMaps)'] }}",
        "language": "de"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        -2336,
        -288
      ],
      "id": "deaf38ea-7fc1-42db-a187-21282caaf35b",
      "name": "OpenWeatherMap1",
      "credentials": {
        "openWeatherMapApi": {
          "id": "CWbJ42ss1QeH9GUK",
          "name": "OpenWeatherMap account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://gotenberg-liwwwqwh3q-ey.a.run.app/forms/chromium/convert/html",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "files",
              "inputDataFieldName": "files"
            },
            {
              "name": "paperWidth",
              "value": "={{ String($json.printOptions.paperWidth) }}"
            },
            {
              "name": "paperHeight",
              "value": "={{ String($json.printOptions.paperHeight) }}"
            },
            {
              "name": "marginTop",
              "value": "={{ $json.printOptions.marginTop }}"
            },
            {
              "name": "marginBottom",
              "value": "={{ $json.printOptions.marginBottom }}"
            },
            {
              "name": "printBackground",
              "value": "={{ String($json.printOptions.printBackground) }}"
            },
            {
              "name": "scale",
              "value": "={{ String($json.printOptions.scale) }}"
            },
            {
              "name": "marginLeft",
              "value": "={{ String($json.printOptions.marginLeft) }}"
            },
            {
              "name": "marginRight",
              "value": "={{ String($json.printOptions.marginRight) }}"
            },
            {
              "parameterType": "formBinaryData",
              "name": "header",
              "inputDataFieldName": "header"
            },
            {
              "parameterType": "formBinaryData",
              "name": "footer",
              "inputDataFieldName": "footer"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": "={{ false }}",
              "responseFormat": "file"
            }
          },
          "timeout": 600000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -544,
        144
      ],
      "id": "95c1ad08-48a9-4d09-8b0d-a2238f0b1f0f",
      "name": "HTML → PDF (Gotenberg)1"
    },
    {
      "parameters": {
        "sendTo": "rusmir.omerovic@web.de",
        "subject": "Neuer Forstauftrag",
        "message": "Im Anhang findest du das automatisch erzeugte PDF zum Forstauftrag.",
        "options": {
          "attachmentsUi": {
            "attachmentsBinary": [
              {}
            ]
          }
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [
        -96,
        144
      ],
      "id": "c9926257-b37d-4c93-9533-767de812816e",
      "name": "Send a message1",
      "webhookId": "9e016e9a-d8de-45cc-80a9-cbcef0019843",
      "credentials": {
        "gmailOAuth2": {
          "id": "r9L6sNQuvKW3wsFJ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc",
          "mode": "list",
          "cachedResultName": "auftragsdaten",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Tabellenblatt1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B56Kah2t7Dz84usjQfQNnefK3R2rgQGO0H2hRndCtzc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -1664,
        -368
      ],
      "id": "8494ed31-cf4f-4eb6-af30-da3f3efda239",
      "name": "Append row in sheet",
      "alwaysOutputData": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "awTBm5n9jFsyxPvL",
          "name": "Google Sheets rusmir-projects"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1888,
        -320
      ],
      "id": "ea109995-c483-4f85-b450-3c49c69b5f68",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2112,
        -416
      ],
      "id": "f68094ef-da84-4f00-826a-cc429a42a6ec",
      "name": "Merge1"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2336,
        -544
      ],
      "id": "3d1345bc-6f9b-4379-b96f-a351e7042793",
      "name": "Merge0"
    },
    {
      "parameters": {
        "jsCode": "const latitude = parseFloat($('Form3').first().json['Standortdaten - latitude (erster Wert in GoogleMaps)']);\nconst longitude = parseFloat($('Form3').first().json['Standortdaten - longitude (zweiter Wert in GoogleMaps)']);\nconst rettungspunkte = $items();\n\nfunction distance(lat1, lon1, lat2, lon2) {\n  const R = 6371e3;\n  const toRad = deg => deg * (Math.PI / 180);\n  const dLat = toRad(lat2 - lat1);\n  const dLon = toRad(lon2 - lon1);\n  const a = Math.sin(dLat / 2) ** 2 +\n            Math.cos(toRad(lat1)) * Math.cos(toRad(lat2)) *\n            Math.sin(dLon / 2) ** 2;\n  const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));\n  return R * c;\n}\n\nconst distanzArray = rettungspunkte.map(punkt => {\n  const dist = distance(latitude, longitude, punkt.json.wgs_breite, punkt.json.wgs_laenge);\n  return {\n    rp_nr: punkt.json.rp_nr,\n    entfernung_m: Math.round(dist),\n    lat: punkt.json.wgs_breite,\n    lon: punkt.json.wgs_laenge,\n    id: punkt.json.id,\n    beschreibung: punkt.json.beschreibung,\n    bundesland: punkt.json.bundesland\n  };\n});\n\nconst top3 = distanzArray.sort((a, b) => a.entfernung_m - b.entfernung_m).slice(0, 3);\n\nreturn [\n  {\n    json: {\n      gps_ursprung: { latitude, longitude },\n      top_3_rettungspunkte: top3\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2112,
        -96
      ],
      "id": "d07bcea4-a03c-40c2-8baf-d15c425f0f1d",
      "name": "Harvesine"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "headerTemplate",
        "destinationKey": "header",
        "options": {
          "encoding": "utf8",
          "fileName": "header.html",
          "mimeType": "text/html; charset=utf-8",
          "useRawData": true
        }
      },
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        -1216,
        144
      ],
      "id": "1493e62f-5438-48d9-ae41-f85b239565ac",
      "name": "header"
    },
    {
      "parameters": {
        "mode": "jsonToBinary",
        "convertAllData": false,
        "sourceKey": "footerTemplate",
        "destinationKey": "footer",
        "options": {
          "encoding": "utf8",
          "fileName": "footer.html",
          "mimeType": "text/html; charset=utf-8",
          "useRawData": true
        }
      },
      "type": "n8n-nodes-base.moveBinaryData",
      "typeVersion": 1.1,
      "position": [
        -992,
        144
      ],
      "id": "c526a981-ea31-444e-8c90-0caa5d6c071f",
      "name": "footer"
    },
    {
      "parameters": {
        "jsCode": "// Mode: Run Once for All Items\nasync function toDataUrl(name) {\n  try {\n    // Holt den Buffer aus items[0].binary[name]\n    const buf = await this.helpers.getBinaryDataBuffer(0, name);\n    const mime = (items[0].binary?.[name]?.mimeType) || 'image/png';\n    return `data:${mime};base64,${buf.toString('base64')}`;\n  } catch {\n    return null; // falls das Property fehlt\n  }\n}\n\nreturn [{\n  json: {\n    assets: {\n      ryzeup: await toDataUrl('ryzeup'),\n      bg:     await toDataUrl('bg'),\n      fa:     await toDataUrl('fa'),\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1888,
        192
      ],
      "id": "f310642f-5078-4848-9d3e-244afcb8d060",
      "name": "logo-names"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Forstauftrag PDF-Generator (Gotenberg/Chromium)\n// 1) Liest n8n-Itemdaten (Form + Zusatzdaten)\n// 2) Erzeugt Header/Footer (Chromium-Seitenränder) und HTML\n// 3) Gotenberg rendert PDF inkl. Header/Footer auf jeder Seite\n\nconst d = item.json || {};\nconst now = new Date().toLocaleString('de-DE', { dateStyle: 'medium', timeStyle: 'short' });\n\n// Helper: ersten gesetzten Wert liefern\nconst pick = (keys, def='—') => {\n  for (const k of keys) {\n    const v = d?.[k];\n    if (v !== undefined && v !== null && String(v) !== '') return v;\n  }\n  return def;\n};\n\n// ---- Logos aus $binary in Data-URLs wandeln ----\nfunction binToDataUrl(name, fallbackMime = 'image/png') {\n  try {\n    const meta = $binary?.[name];\n    if (!meta) return null;\n    const buf  = this.helpers.getBinaryDataBuffer(0, name);\n    const mime = meta.mimeType || fallbackMime;\n    return `data:${mime};base64,${buf.toString('base64')}`;\n  } catch { return null; }\n}\n\n// 1) Logos vorbereiten (Data-URL > evtl. d.assets > null)\nconst logoLeftPrepared   = binToDataUrl.call(this, 'ryzeup') || d?.assets?.ryzeup || null;\nconst logoCenterPrepared = binToDataUrl.call(this, 'bg')     || d?.assets?.bg     || null;\nconst logoRightPrepared  = binToDataUrl.call(this, 'fa')     || d?.assets?.fa     || null;\n\n// 2) THEME erst jetzt definieren – mit vorbereiteten Logos\nconst THEME = {\n  brandBg:    '#112240',\n  brandText:  '#ffffff',\n  bodyFont:   'Arial, Helvetica, sans-serif',\n  fontSizeH:  9,\n  fontSizeF:  8.5,\n  padH:       '6px 12px',\n  padF:       '4px 10px',\n  linkGap:    '16px',\n  borderTopF: '1px solid rgba(255,255,255,.08)',\n  logoLeft:   logoLeftPrepared,\n  logoCenter: logoCenterPrepared,\n  logoRight:  logoRightPrepared,\n};\n\n\n\n// Header CSS\nconst hcss = `\n  *{box-sizing:border-box} body{margin:0; font-family:${THEME.bodyFont}}\n  :root{ --logo-h:40px; --logo-h-center:30px }\n  .wrap{padding:${THEME.padH}; font-size:${THEME.fontSizeH}px; line-height:1.35; width:100%}\n  .grid{display:grid; grid-template-columns:1fr auto 1fr; align-items:center; gap:12px}\n  .left,.right{display:flex; align-items:center; gap:12px}\n  .left{justify-content:flex-start}\n  .center{justify-self:center; display:flex; align-items:center; gap:8px}\n  .right{justify-content:flex-end}\n  .muted{opacity:.7; margin-top:4px}\n  img.logo{height:var(--logo-h)}\n  img.logo.center{height:var(--logo-h-center)}\n`;\n//CSS Footer\nconst fcss = `\n  *{box-sizing:border-box} body{margin:0; font-family:${THEME.bodyFont}}\n  .wrap{background:${THEME.brandBg}; color:${THEME.brandText}; padding:${THEME.padF};\n        font-size:${THEME.fontSizeF}px; line-height:1.35; border-top:${THEME.borderTopF}}\n  .row{display:flex; justify-content:space-between; align-items:center; flex-wrap:wrap; gap:10px}\n  .col{display:flex; gap:${THEME.linkGap}; align-items:center; flex-wrap:wrap}\n  a{color:${THEME.brandText}; text-decoration:none}\n  .num{white-space:nowrap}\n  img{height:14px}\n`;\n\n// === Feld-Mappings (deine Original-Feldnamen inkl. Aliase) ===\nconst meta = {\n  datum:            pick(['Datum Arbeitstag: ', 'Datum']),\n  einsatzort:       pick(['Einsatzort', 'Ort', 'Einsatz-Ort']),\n  verantwortlicher: pick(['Arbeitsverantwortlicher', 'Verantwortlicher']),\n  weitere:          pick(['weitere Einsatzkräfte:', 'weitere Einsatzkraefte'], '—'),\n  kunde:            pick(['Ansprechpartner Kunde: ', 'Kunde']),\n  kundeTel:         pick(['Kunde Telefon: ', 'Kunde Telefon', 'Telefon'], '—'),\n  ersthelfer:       pick(['Ersthelfer vor Ort: '], '—'),\n  submittedAt:      pick(['submittedAt'], now),\n};\n\nconst sicherheit = {\n  verkehr:           pick(['Verkehrsrechtliche Anordnung/Einsatz an Straße']),\n  absperrung:        pick(['Absperrung']),\n  helfer:            pick(['Posten - wie viele Helfer? ']),\n  psa:               pick(['Persönliche Schutzausrüstung geprüft/getragen? ']),\n  psaNote:           pick(['Bemerkungen zu Schutzausrüstung: ']),\n  zufahrt:           pick(['Zufahrt für Maschinen möglich? ']),\n  // Falls der Form-Key abweicht, hier anpassen:\n  maschinen:         Array.isArray(d.Maschintyp) ? d.Maschintyp : (d.Maschintyp ? [d.Maschintyp] : []),\n  maschinenbediener: pick(['Maschinenbediener: '], '—'),\n  gefaehrdungen:     Array.isArray(d['Besondere Gefährdungen:']) ? d['Besondere Gefährdungen:'] : [],\n  massnahmen:        pick(['Maßnahmen bei besonderer Gefährdung eingeleitet?']),\n  unterwiesen:       pick(['Im Trupp/Arbeitsgruppe  unterwiesen?']),\n};\n\n// Zustimmung\nconst zustimmung = Array.isArray(d['Zustimmung:'])\n  ? d['Zustimmung:'].join(', ')\n  : pick(['Zustimmung:', 'Zustimmung'], '—');\n\n// Wetter (OpenWeatherMap)\nconst wetter = {\n  beschreibung: d.weather?.[0]?.description ?? '—',\n  temp:         d.main?.temp ?? '—',\n  druck:        d.main?.pressure ?? '—',\n  wind:         d.wind?.speed ?? '—',\n  wolken:       d.clouds?.all ?? '—',\n};\n\n// Rettungspunkte & GPS\nconst rp = Array.isArray(d.top_3_rettungspunkte) ? d.top_3_rettungspunkte : [];\nconst gps = {\n  lat: pick(['Standortdaten - latitude (erster Wert in GoogleMaps)', 'lat', 'latitude'], ''),\n  lon: pick(['Standortdaten - longitude (zweiter Wert in GoogleMaps)', 'lon', 'longitude'], ''),\n};\nconst mapsUrl = (gps.lat && gps.lon)\n  ? `https://www.google.com/maps?q=${encodeURIComponent(`${gps.lat},${gps.lon}`)}`\n  : null;\n\n// === HTML-Helper ===\nconst esc = (v) => String(v ?? '')\n  .replace(/&/g,'&amp;').replace(/</g,'&lt;').replace(/>/g,'&gt;')\n  .replace(/\"/g,'&quot;').replace(/'/g,'&#039;');\n\nconst chip  = (t) => `<span class=\"chip\">${esc(t)}</span>`;\n\n// FIX: war abgeschnitten → jetzt korrekt geschlossen\nconst chips = (arr = []) => (\n  arr.length\n    ? `<div class=\"chips\">${arr.map(chip).join('')}</div>`\n    : '<span class=\"muted\">—</span>'\n);\n\n// === BODY HTML ===\nconst html = `<!doctype html>\n<html lang=\"de\">\n<head>\n<meta charset=\"utf-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<title>Arbeitsauftrag Forstwirtschaft</title>\n<style>\n  :root{\n    --bg:#0c1512; --surface:#12211a; --surface-2:#0e1b15; --card:#12261c;\n    --brand-1:#10b981; --brand-2:#34d399; --text:#e6f2ec; --muted:#9fb3aa;\n    --border:#0dde81; --warn:#f59e0b; --ok:#22c55e; --chip-bg:#5b7d71;\n    /* Platz im Body – unabhängig von Chromium-Header/Footer */\n    --top-gap: 0mm; --bottom-gap: 0mm;\n  }\n  @page { size:A4; }\n  html, body { height:100%; }\n  * { box-sizing:border-box; -webkit-print-color-adjust:exact; print-color-adjust:exact; }\n  body{margin:0;\n    background:var(--bg); color:var(--text);\n    font: 11pt/1.55 system-ui,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;\n  }\n  .page{\n    width:210mm; background:var(--surface);\n    display:grid; grid-template-rows:auto 1fr auto;\n    padding: 0 20px 0 20px;\n  }\n  .header{\n    background: linear-gradient(135deg, var(--brand-1), var(--brand-2));\n    color:#05110d; border-radius:10px; padding:5mm 7mm; margin-bottom:6mm;\n    margin-top: 4mm;\n  }\n  .header h1{ margin:0 0 2mm; font-size:18pt; letter-spacing:.2px; }\n  .header .sub{ margin:0; opacity:.85; }\n  .meta{ margin-top:2mm; display:flex; gap:6mm; flex-wrap:wrap; font-size:10pt;\n  color:#052017; font-weight:600; \n  }\n  .content{\n  display: flex;               /* oder: display:grid */\n  flex-direction: column;      /* bei grid nicht nötig */\n  row-gap: 6mm;                /* <— HIER stellst du den Card-Abstand ein */\n  }\n  .card{ \n  background:var(--card); border:1px solid var(--border); \n  border-radius:12px;margin:0;\n  overflow:hidden; box-shadow:0 8px 24px rgba(0,0,0,.23); page-break-inside:avoid;\n  break-inside:avoid-page; \n  }\n         \n  .card .card-h{ padding:5mm 7mm 4mm; font-weight:700; letter-spacing:.3px; border-bottom:1px solid var(--border); }\n  .card .card-b{ padding:4mm 5mm; }\n  .card[class*='card--']{ border-left:4px solid var(--accent); }\n  .card[class*='card--'] .card-h{ background:var(--accent); color:#05110d; }\n  .card--auftrag{ --accent:#34d399; }\n  .card--sicherheit{ --accent:#f59e0b; }\n  .card--wetter{ --accent:#3b82f6; }\n  .card--rettung{ --accent:#ef4444; }\n  .card--gps{ --accent:#8b5cf6; }\n  .card--zustimmung{ --accent:#10b981; }\n  .grid{ display:flex; flex-wrap:wrap; gap:3mm 5mm; }\n  .row{ display:flex; flex-direction:column; flex:1 1 calc(50% - 5mm); min-width:80mm; }\n  .label{ font-size:10pt; color:var(--muted); text-transform:uppercase; letter-spacing:.35px; margin-bottom:1mm; }\n  .val{ font-size:13pt; font-weight:600; }\n  .yes{ color:var(--ok); } .no{ color:var(--warn); }\n  .chips{ display:flex; flex-wrap:wrap; gap:4mm; margin-top:2mm; }\n  .chip{ background:var(--chip-bg); border:1px solid var(--border); padding:2.5mm 4mm; border-radius:999px; font-size:9.5pt; font-weight:700; color:var(--text); }\n  .chip.hazard{ background:#3b1f0a; border-color:#7a3c11; color:#ffcc88; }\n  .weather{ display:grid; grid-template-columns:repeat(5,1fr); gap:6mm; text-align:center; }\n  .wbox{ background:var(--surface-2); border:1px solid var(--border); border-radius:10px; padding:6mm 4mm; }\n  .wval{ font-size:16pt; font-weight:800; color:var(--brand-2); margin-bottom:1mm; }\n  .wlab{ font-size:8.5pt; color:var(--muted); text-transform:uppercase; }\n  table.tbl{ width:100%; border-collapse:separate; border-spacing:0; background:var(--surface-2); border:1px solid var(--border); border-radius:10px; overflow:hidden; }\n  .tbl thead th{ background:#0f2b20; color:#c9f0e1; text-align:left; padding:4.5mm 5mm; font-size:10pt; border-bottom:1px solid var(--border); }\n  .tbl td{ padding:4mm 5mm; border-bottom:1px solid var(--border); }\n  .tbl tr:last-child td{ border-bottom:0; }\n  .td-num{ text-align:right; font-weight:700; color:var(--brand-2); }\n  .gps{ background:var(--surface-2); border:1px solid var(--border); border-radius:10px; padding:6mm; text-align:center; }\n  .coord{ font:700 14pt/1.1 ui-monospace, SFMono-Regular, Menlo, Consolas, monospace; color:#8be0b6; margin:2mm 0 3mm; }\n  .map a{ color:var(--brand-2); text-decoration:none; font-weight:700; }\n  .map a:hover{ text-decoration:underline; }\n  .consent{ display:flex; align-items:center; gap:4mm; }\n  .consent-check{ font-size:14pt; color:var(--brand-2); }\n  .consent-text{ font-size:10.5pt; line-height:1.4; }\n  .consent-note{ margin-top:4mm; font-size:9pt; color:var(--muted); }\n  @media screen and (max-width:900px){\n    .grid{ flex-direction:column; }\n    .row{ flex-basis:100%; }\n    .weather{ grid-template-columns: repeat(2, 1fr); }\n  }\n</style>\n</head>\n<body>\n  <div class=\"page\">\n    <!-- Body-Header (ästhetischer Kasten, unabhängig vom Chromium-Header) -->\n    <div class=\"header\">\n      <h1>Arbeitsauftrag Forstwirtschaft</h1>\n      <p class=\"sub\">Einsatzort: ${esc(meta.einsatzort || '—')}</p>\n      <div class=\"meta\">\n        <div><strong>Datum:</strong> ${esc(meta.datum || '—')}</div>\n        <div><strong>Erstellt:</strong> ${esc(now)}</div>\n        <div><strong>Verantwortlich:</strong> ${esc(meta.verantwortlicher || '—')}</div>\n      </div>\n    </div>\n\n    <!-- Inhalt -->\n    <div class=\"content\">\n\n      <div class=\"card card--auftrag\">\n        <div class=\"card-h\">Auftragsdaten</div>\n        <div class=\"card-b\">\n          <div class=\"grid\">\n            <div class=\"row\"><div class=\"label\">Einsatzort</div><div class=\"val\">${esc(meta.einsatzort || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Arbeitsverantwortlicher</div><div class=\"val\">${esc(meta.verantwortlicher || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Weitere Einsatzkräfte</div><div class=\"val\">${esc(meta.weitere || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Ansprechpartner Kunde</div><div class=\"val\">${esc(meta.kunde || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Kunde Telefon</div><div class=\"val\">${esc(meta.kundeTel || '—')}</div></div>\n            <div class=\"row\"><div class=\"label\">Ersthelfer vor Ort</div><div class=\"val\">${esc(meta.ersthelfer || '—')}</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card card--sicherheit\">\n        <div class=\"card-h\">Sicherheit &amp; Organisation</div>\n        <div class=\"card-b\">\n          <div class=\"grid\">\n            <div class=\"row\"><div class=\"label\">Verkehrsrechtliche Anordnung</div><div class=\"val ${sicherheit.verkehr === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.verkehr)}</div></div>\n            <div class=\"row\"><div class=\"label\">Absperrung</div><div class=\"val\">${esc(sicherheit.absperrung)}</div></div>\n            <div class=\"row\"><div class=\"label\">Posten/Helfer</div><div class=\"val\">${esc(sicherheit.helfer)}</div></div>\n            <div class=\"row\"><div class=\"label\">PSA geprüft/getragen</div><div class=\"val ${sicherheit.psa === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.psa)}</div></div>\n            <div class=\"row\"><div class=\"label\">Zufahrt für Maschinen</div><div class=\"val ${sicherheit.zufahrt === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.zufahrt)}</div></div>\n            <div class=\"row\"><div class=\"label\">Maschinenbediener</div><div class=\"val\">${esc(sicherheit.maschinenbediener)}</div></div>\n          </div>\n\n          ${ (sicherheit.psaNote && sicherheit.psaNote !== '—')\n              ? '<div style=\"margin-top:5mm\">'\n                + '<div class=\"label\">Bemerkungen PSA</div>'\n                + '<div class=\"val\">' + esc(sicherheit.psaNote) + '</div>'\n              + '</div>'\n              : ''\n          }\n\n          <div style=\"margin-top:6mm\">\n            <div class=\"label\">Maschinentyp(en)</div>\n            ${chips(sicherheit.maschinen)}\n          </div>\n\n          ${ sicherheit.gefaehrdungen.length\n              ? '<div style=\"margin-top:6mm\">'\n                + '<div class=\"label\">Besondere Gefährdungen</div>'\n                + chips(sicherheit.gefaehrdungen.map(g => `⚠️ ${g}`))\n              + '</div>'\n              : ''\n          }\n\n          <div class=\"grid\" style=\"margin-top:6mm\">\n            <div class=\"row\"><div class=\"label\">Maßnahmen bei Gefährdung eingeleitet</div><div class=\"val ${sicherheit.massnahmen === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.massnahmen)}</div></div>\n            <div class=\"row\"><div class=\"label\">Unterweisung im Trupp</div><div class=\"val ${sicherheit.unterwiesen === 'ja' ? 'yes' : 'no'}\">${esc(sicherheit.unterwiesen)}</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card card--wetter\">\n        <div class=\"card-h\">Wetterbedingungen</div>\n        <div class=\"card-b\">\n          <div class=\"weather\">\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.beschreibung)}</div><div class=\"wlab\">Beschreibung</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.temp)} °C</div><div class=\"wlab\">Temperatur</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.druck)} hPa</div><div class=\"wlab\">Luftdruck</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.wind)} m/s</div><div class=\"wlab\">Wind</div></div>\n            <div class=\"wbox\"><div class=\"wval\">${esc(wetter.wolken)} %</div><div class=\"wlab\">Bewölkung</div></div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card card--rettung\">\n        <div class=\"card-h\">Nächste Rettungspunkte</div>\n        <div class=\"card-b\">\n          <table class=\"tbl\">\n            <thead><tr><th>#</th><th>RP-Nummer</th><th>Beschreibung</th><th>Bundesland</th><th style=\"text-align:right\">Entfernung</th></tr></thead>\n            <tbody>\n              ${\n                rp.length\n                  ? rp.map((p,i) =>\n                      '<tr>'\n                        + '<td>' + (i+1) + '</td>'\n                        + '<td><strong>' + esc(p.rp_nr) + '</strong></td>'\n                        + '<td>' + esc(p.beschreibung) + '</td>'\n                        + '<td>' + esc(p.bundesland) + '</td>'\n                        + '<td class=\"td-num\">' + esc(p.entfernung_m) + ' m</td>'\n                      + '</tr>'\n                    ).join('')\n                  : '<tr><td colspan=\"5\" style=\"text-align:center;color:var(--muted);font-style:italic;padding:7mm 0\">Keine Rettungspunkte gefunden</td></tr>'\n              }\n            </tbody>\n          </table>\n        </div>\n      </div>\n\n      <div class=\"card card--gps\">\n        <div class=\"card-h\">GPS-Standort</div>\n        <div class=\"card-b\">\n          <div class=\"gps\">\n            <div class=\"label\">Koordinaten</div>\n            <div class=\"coord\">${esc(gps.lat || '—')}, ${esc(gps.lon || '—')}</div>\n            <div class=\"map\">\n              ${\n                mapsUrl\n                  ? '<a href=\"' + esc(mapsUrl) + '\">🗺️ Karte öffnen</a>'\n                  : '<span style=\"color:var(--muted)\">Kein Kartenlink verfügbar</span>'\n              }\n            </div>\n          </div>\n        </div>\n      </div>\n\n      <div class=\"card card--zustimmung\">\n        <div class=\"card-h\">Zustimmung</div>\n        <div class=\"card-b\">\n          <div class=\"consent\">\n            <div class=\"consent-check\">✓</div>\n            <div class=\"consent-text\">Zustimmung des Nutzers (${esc(meta.verantwortlicher || '—')})</div>\n          </div>\n          <div class=\"consent-note\">Diese digitale Zustimmung per Haken repräsentiert eine Unterschrift des Nutzers.</div>\n        </div>\n      </div>\n\n    </div>\n  </div>\n</body>\n</html>\n`;\n\n// Header-Template\nconst headerTemplate = `\n  <style>${hcss}</style>\n  <div class=\"wrap\">\n    <div class=\"grid\">\n      <div class=\"left\">\n        ${THEME.logoLeft ? `<img class=\"logo\" src=\"${THEME.logoLeft}\" alt=\"Logo left\">` : ''}\n      </div>\n      <div class=\"center\">\n        ${THEME.logoCenter ? `<img class=\"logo center\" src=\"${THEME.logoCenter}\" alt=\"Logo center\">` : ''}\n        <strong>Forstauftrag</strong>\n      </div>\n      <div class=\"right\">\n        ${THEME.logoRight ? `<img class=\"logo\" src=\"${THEME.logoRight}\" alt=\"Logo right\">` : ''}\n      </div>\n    </div>\n    <div class=\"muted\">Einsatzort: ${esc(meta.einsatzort || '—')} · ${esc(now)}</div>\n  </div>\n`;\n\n// === CHROMIUM FOOTER ===\nconst footerTemplate = `\n  <style>${fcss}</style>\n  <div class=\"wrap\">\n    <div class=\"row\">\n      <div class=\"col\">\n        ${THEME.logoLeft ? `<img src=\"${THEME.logoLeft}\" alt=\"Logo\"/>` : ''}\n        <strong>Ryzeup UG</strong>\n        <span>Rotthang 3, 84494 Neumarkt-Sankt Veit</span>\n        <span>HRB 33167, AG Traunstein</span>\n      </div>\n      <div class=\"col\">\n        <a>Kontakt</a><a>About</a><a>Termin</a><a>Datenschutz</a>\n        <span class=\"num\"><span class=\"pageNumber\"></span>/<span class=\"totalPages\"></span></span>\n      </div>\n    </div>\n    <div class=\"row\" style=\"margin-top:4px\">\n      <div>© ${new Date().getFullYear()} Ryzeup UG. Alle Rechte vorbehalten.</div>\n    </div>\n  </div>\n`;\n\n// === EMPFOHLENE DRUCK-RÄNDER FÜR Gotenberg/Chromium ===\n// Diese Werte musst du beim HTTP Request mitgeben (siehe unten).\nconst printOptions = {\n  paperWidth:  8.27,  // A4 in Inch\n  paperHeight: 11.69, // A4 in Inch\n  marginTop:    0.85,  // ~15 mm\n  marginBottom: 0.53,  // ~15 mm\n  marginLeft:   0.05, // 10 mm\n  marginRight:  0, // 10 mm\n  printBackground: true,\n  scale: 1,\n};\n\n// ---------- Robustheits-Footer für pdf-template.js ----------\n\nconst MAX_ATTEMPTS = 5;\nconst BASE_DELAY_MS = 500;\nconst JITTER_MS = 250;\n\nconst sleep = (ms) => new Promise(r => setTimeout(r, ms));\n\nfunction get(obj, path) {\n  return path.split('.').reduce((o, k) => (o && o[k] !== undefined ? o[k] : undefined), obj);\n}\n\nfunction hasAll(paths, root) {\n  return paths.every(p => {\n    const v = get(root, p);\n    return v !== undefined && v !== null && !(typeof v === 'string' && v.trim() === '');\n  });\n}\n\n// Wenn du Daten aus benannten Nodes brauchst, kannst du sie hier mergen.\nfunction isReady() {\n  return true;\n}\n\n// Achtung: Wir geben bewusst KEIN ...item.json zurück, um Payload-Aufblähung & Zyklen zu verhindern.\nasync function finalizePdfSafe(buildFn) {\n  for (let attempt = 1; attempt <= MAX_ATTEMPTS; attempt++) {\n    if (isReady()) {\n      const result = buildFn();\n\n      // Mini-Validierung gegen leere PDFs\n      if (!result || !result.html || typeof result.html !== 'string' || result.html.trim() === '') {\n        throw new Error('TransientError: html not built yet');\n      }\n\n      // N8N-Format: Array von Items mit { json: ... }\n      return { json: result };\n    }\n    if (attempt < MAX_ATTEMPTS) {\n      const backoff = BASE_DELAY_MS * Math.pow(2, attempt - 1);\n      const jitter = Math.floor(Math.random() * JITTER_MS);\n      const wait = backoff + jitter;\n      console.log(`[pdf-template] Inputs not ready (${attempt}/${MAX_ATTEMPTS - 1}). Wait ${wait}ms`);\n      await sleep(wait);\n    }\n  }\n  throw new Error('TransientError: PDF template inputs not ready');\n}\n\n// ---------- ENDE Robustheits-Footer ----------\n\nfunction buildOriginalReturn() {\n  return {\n    html,\n    headerTemplate,\n    footerTemplate,\n    printOptions,\n    // << NEU: nur was der nächste Node zum Benennen braucht\n    metaForFilename: {\n      einsatzort: meta.einsatzort || '',\n      datum: meta.datum || ''   // deine Formular-Datumsspalte\n    }\n  };\n}\n\nreturn await finalizePdfSafe(buildOriginalReturn);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1440,
        144
      ],
      "id": "b7ed8196-7d6a-4bd1-b494-d1d344be3a33",
      "name": "pdf-template.js"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/RusmirOmerovic/n8n-forstauftrag/main/img/ryzeup-logo.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "ryzeup"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2784,
        80
      ],
      "id": "f5441e08-bba1-40b7-9434-9a43a11db389",
      "name": "ryzeup-logo",
      "alwaysOutputData": false,
      "executeOnce": false,
      "notesInFlow": false
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/RusmirOmerovic/n8n-forstauftrag/main/img/fa-logo.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "fa"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2336,
        256
      ],
      "id": "f41c5b17-89b5-4a48-83b3-5ebdaecc2072",
      "name": "fa-logo"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -1664,
        144
      ],
      "id": "fa078c5e-93ec-4b73-bb4c-7ce4740c165f",
      "name": "data+logos"
    },
    {
      "parameters": {
        "url": "https://raw.githubusercontent.com/RusmirOmerovic/n8n-forstauftrag/main/img/Bg-logo.png",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "bg"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -2784,
        272
      ],
      "id": "019b374a-d1c8-420e-ba5f-f72e77445386",
      "name": "Bg-logo"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2112,
        192
      ],
      "id": "8c559737-c6b1-484d-b00f-923bd4b510f2",
      "name": "merge-logos"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -2560,
        192
      ],
      "id": "14885d29-eace-435b-8379-96b16f447ab3",
      "name": "MergeA"
    },
    {
      "parameters": {
        "jsCode": "// --- Konfiguration ---\nconst BIN_PROP = 'data'; // Binary-Property aus dem Gotenberg-Node\n\n// Hilfsfunktionen\nfunction toDDMMYYYY(raw) {\n  if (typeof raw === 'string' && /^\\d{4}-\\d{2}-\\d{2}/.test(raw)) {\n    const d = new Date(raw + 'T00:00:00Z');\n    const dd = String(d.getUTCDate()).padStart(2, '0');\n    const mm = String(d.getUTCMonth() + 1).padStart(2, '0');\n    const yy = d.getUTCFullYear();\n    return `${dd}-${mm}-${yy}`;\n  }\n  const n = new Date();\n  return `${String(n.getDate()).padStart(2,'0')}-${String(n.getMonth()+1).padStart(2,'0')}-${n.getFullYear()}`;\n}\n\nfunction normalizeOrt(s) {\n  let t = (s ?? '').toString().trim();\n  t = t.replace(/ä/g,'ae').replace(/ö/g,'oe').replace(/ü/g,'ue')\n       .replace(/Ä/g,'Ae').replace(/Ö/g,'Oe').replace(/Ü/g,'Ue')\n       .replace(/ß/g,'ss');\n  t = t.replace(/\\s+/g,'_').replace(/[^A-Za-z0-9_\\-]/g,'_');\n  t = t.replace(/_+/g,'_').replace(/^_+|_+$/g,'');\n  return t || 'unbekannterOrt';\n}\n\n// Hauptlogik\nconst out = (items || []).map((it) => {\n  const j = it.json || {};\n\n  // 1) Werte bevorzugt aus metaForFilename, sonst aus j[...]\n  const ortRaw = j.metaForFilename?.einsatzort\n              ?? j['Einsatzort'] ?? j['einsatzort'] ?? j['Ort'] ?? '';\n  const dateRaw = j.metaForFilename?.datum\n               ?? j['Datum Arbeitstag'] ?? j['Datum'] ?? j['date'] ?? '';\n\n  // 2) Aufbereiten\n  const datePart = toDDMMYYYY(dateRaw);\n  const ortPart  = normalizeOrt(ortRaw);\n\n  // 3) Dateiname bauen\n  const fileName = `FA_${datePart}_${ortPart}.pdf`;\n\n  // 4) Am Binary setzen\n  if (it.binary && it.binary[BIN_PROP]) {\n    it.binary[BIN_PROP].fileName = fileName;\n    it.binary[BIN_PROP].mimeType = 'application/pdf';\n    it.binary[BIN_PROP].fileExtension = 'pdf';\n  }\n  return it;\n});\n\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -320,
        144
      ],
      "id": "2785efee-73e8-41f0-a14d-c4231615580a",
      "name": "pdf-filename"
    }
  ],
  "pinData": {
    "Form1": [
      {
        "json": {
          "Verkehrsrechtliche Anordnung/Einsatz an Straße": "nein",
          "Absperrung": "keine",
          "Posten - wie viele Helfer? ": "0 - keine notwendig",
          "Persönliche Schutzausrüstung geprüft/getragen? ": "ja",
          "Bemerkungen zu Schutzausrüstung: ": "",
          "Zufahrt für Maschinen möglich? ": "ja",
          "Maschintyp": [
            "Harvester"
          ],
          "Maschinenbediener: ": "Rusmir",
          "Besondere Gefährdungen:": [
            "Schlechte Sicht",
            "Wind"
          ],
          "Maßnahmen bei besonderer Gefährdung eingeleitet?": "ja",
          "Im Trupp/Arbeitsgruppe  unterwiesen?": "nein",
          "Zustimmung:": [
            "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
          ],
          "Standortdaten - latitude (erster Wert in GoogleMaps)": 48.106048,
          "Standortdaten - longitude (zweiter Wert in GoogleMaps)": 11.945097,
          "jo": null,
          "submittedAt": "2025-07-03T14:58:45.805+02:00",
          "formMode": "test"
        }
      }
    ],
    "On form submission1": [
      {
        "json": {
          "Datum Arbeitstag: ": "2025-06-22",
          "Einsatzort": "Ebersberg",
          "Arbeitsverantwortlicher": "Rusmir",
          "weitere Einsatzkräfte:": "keiner",
          "Ansprechpartner Kunde: ": "Fritz Holzer",
          "Kunde Telefon: ": 0,
          "Ersthelfer vor Ort: ": "Rusmir",
          "Rettungspunkt": "",
          "Witterung": "",
          "submittedAt": "2025-06-22T20:56:04.410+02:00",
          "formMode": "test"
        }
      }
    ],
    "Form3": [
      {
        "json": {
          "Verkehrsrechtliche Anordnung/Einsatz an Straße": "nein",
          "Absperrung": "keine",
          "Posten - wie viele Helfer? ": "0 - keine notwendig",
          "Persönliche Schutzausrüstung geprüft/getragen? ": "ja",
          "Bemerkungen zu Schutzausrüstung: ": "",
          "Zufahrt für Maschinen möglich? ": "ja",
          "Maschintyp": [
            "Harvester"
          ],
          "Maschinenbediener: ": "Rusmir",
          "Besondere Gefährdungen:": [
            "Schlechte Sicht",
            "Wind"
          ],
          "Maßnahmen bei besonderer Gefährdung eingeleitet?": "ja",
          "Im Trupp/Arbeitsgruppe  unterwiesen?": "nein",
          "Zustimmung:": [
            "Ich bestätige die Richtigkeit meiner Angaben und bin mit der Verarbeitung einverstanden."
          ],
          "Standortdaten - latitude (erster Wert in GoogleMaps)": 48.106048,
          "Standortdaten - longitude (zweiter Wert in GoogleMaps)": 11.945097,
          "jo": null,
          "submittedAt": "2025-07-03T14:58:45.805+02:00",
          "formMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Move Binary Data (HTML file)": {
      "main": [
        [
          {
            "node": "HTML → PDF (Gotenberg)1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Form3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "On form submission1": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 0
          },
          {
            "node": "ryzeup-logo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Bg-logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form3": {
      "main": [
        [
          {
            "node": "Get many rows1",
            "type": "main",
            "index": 0
          },
          {
            "node": "OpenWeatherMap1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge0",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get many rows1": {
      "main": [
        [
          {
            "node": "Harvesine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML → PDF (Gotenberg)1": {
      "main": [
        [
          {
            "node": "pdf-filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "data+logos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge0": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Harvesine": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "header": {
      "main": [
        [
          {
            "node": "footer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "footer": {
      "main": [
        [
          {
            "node": "Move Binary Data (HTML file)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "logo-names": {
      "main": [
        [
          {
            "node": "data+logos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "pdf-template.js": {
      "main": [
        [
          {
            "node": "header",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ryzeup-logo": {
      "main": [
        [
          {
            "node": "MergeA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fa-logo": {
      "main": [
        [
          {
            "node": "merge-logos",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "data+logos": {
      "main": [
        [
          {
            "node": "pdf-template.js",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Bg-logo": {
      "main": [
        [
          {
            "node": "MergeA",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "merge-logos": {
      "main": [
        [
          {
            "node": "logo-names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MergeA": {
      "main": [
        [
          {
            "node": "merge-logos",
            "type": "main",
            "index": 0
          },
          {
            "node": "fa-logo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "pdf-filename": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "65ea1c40-9631-4f26-a001-c9a21de13ced",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2a3eab6b88b8510864f912a25810c5ba12780e3df16b467154212c331aaa0bdb"
  },
  "id": "4AWkG2MF5QOLgIn6",
  "tags": []
}